<div class="header">
  <h1>Andrew Mc Breen</h1>
  <div class="container">
    <div class="contact-details">
      <p>62B Prospect Hill,</p>
      <p>Galway, Co. Galway</p>
      <p><strong>(087) 213-4602</strong></p>
      <p><a href="mailto:1ANDYMC1@GMAIL.COM">1ANDYMC1@GMAIL.COM</a></p>
      <p><a href="https://www.linkedin.com/in/andrewmcbreen">https://www.linkedin.com/in/andrewmcbreen</a></p>
    </div>

    <div class="intro">
      <strong>Intro:</strong> Hardworking, enthusiastic IT professional looking to apply himself to all areas of IT.  Works well independently and as part of a team. Keen interest in IoT, Cloud and security  technology. 
    </div>
  </div>
</div>


