<div class="header">
  <h1>Andrew Mc Breen</h1>
  <div class="container">
    <div class="contact-details">
      <p>62B Prospect Hill,</p>
      <p>Galway, Co. Galway</p>
      <p><strong>(087) 213-4602</strong></p>
      <p><a href="mailto:1ANDYMC1@GMAIL.COM">1ANDYMC1@GMAIL.COM</a></p>
      <p><a href="https://www.linkedin.com/in/andrewmcbreen">https://www.linkedin.com/in/andrewmcbreen</a></p>
    </div>

    <div class="intro">
      <strong>Intro:</strong> Hardworking, enthusiastic IT professional looking to apply himself to all areas of IT.  Works well independently and as part of a team. Keen interest in IoT, Cloud and security  technology. 
    </div>
  </div>
</div>
<div class="experience">
  <h1>Experience</h1>
  <div class="block">
    <div class="date">SEPTEMBER 2016 - Present</div>
    <h2> Ex Ordo, Galway  <span class="subtitle"> -  Software Developer </span></h2>
    <ul>
      <li>Front and backend development on multiple in-house applications</li>
      <li>Active in DevOps - ruby upgrade, multitenancy, upgrades system</li>
      <li>Planned, tested and delivered multiple projects</li>
    </ul>
  </div>
  <div class="block">
    <div class="date">SEPTEMBER 2016 - May 2017</div>
    <h2> NUI Galway, Galway <span class="subtitle"> -  Lab Tutor </span></h2>
    <ul>
      <li>Tutored students from 3rd year Computer Science, Higher Diploma and Masters Level</li>
      <li>Tutored advanced Java topics e.g. GUI, Concurrency, Client/Server models. </li>
      <li>Tutored concepts of efficient and clean coding.</li>
    </ul>
  </div>
  <div class="block">
    <div class="date">JANUARY 2016 - AUGUST 2016</div>
    <h2> IBM, Galway <span class="subtitle"> - Software Engineering Intern</span></h2>
    <ul>
      <li>Designed and developed a tool for porting data between RDBMS and ElasticSearch Clusters, which I completed and delivered within the designated time period. This is to be published as a developer tool on IBM internal developer tools platform for any IBM employee to use.</li>
      <li>Developed Raspberry Pi Digital Signage system for use in office as part of intern team project and engaged with IoT initiative within IBM which aimed to utilize IBM Bluemix, an IoT Cloud platform.</li>
      <li>Expanded product test suite using Selenium through Java.</li>
    </ul>
  </div>
</div>


