<div class="header">
  <h1>Andrew Mc Breen</h1>
  <div class="container">
    <div class="contact-details">
      <p>62B Prospect Hill,</p>
      <p>Galway, Co. Galway</p>
      <p><strong>(087) 213-4602</strong></p>
      <p><a href="mailto:1ANDYMC1@GMAIL.COM">1ANDYMC1@GMAIL.COM</a></p>
      <p><a href="https://www.linkedin.com/in/andrewmcbreen">https://www.linkedin.com/in/andrewmcbreen</a></p>
    </div>

    <div class="intro">
      <strong>Intro:</strong> Hardworking, enthusiastic IT professional looking to apply himself to all areas of IT.  Works well independently and as part of a team. Keen interest in IoT, Cloud and security  technology. 
    </div>
  </div>
</div>
<div class="segment experience">
  <h1>Experience</h1>
  <div class="block">
    <div class="date">SEPTEMBER 2016 - Present</div>
    <h2> Ex Ordo, Galway  <span class="subtitle"> -  Software Developer </span></h2>
    <ul>
      <li>Front and backend development on multiple in-house applications</li>
      <li>Active in DevOps - ruby upgrade, multitenancy, upgrades system</li>
      <li>Planned, tested and delivered multiple projects</li>
    </ul>
  </div>
  <div class="block">
    <div class="date">SEPTEMBER 2016 - May 2017</div>
    <h2> NUI Galway, Galway <span class="subtitle"> -  Lab Tutor </span></h2>
    <ul>
      <li>Tutored students from 3rd year Computer Science, Higher Diploma and Masters Level</li>
      <li>Tutored advanced Java topics e.g. GUI, Concurrency, Client/Server models. </li>
      <li>Tutored concepts of efficient and clean coding.</li>
    </ul>
  </div>
  <div class="block">
    <div class="date">JANUARY 2016 - AUGUST 2016</div>
    <h2> IBM, Galway <span class="subtitle"> - Software Engineering Intern</span></h2>
    <ul>
      <li>Designed and developed a tool for porting data between RDBMS and ElasticSearch Clusters, which I completed and delivered within the designated time period. This is to be published as a developer tool on IBM internal developer tools platform for any IBM employee to use.</li>
      <li>Developed Raspberry Pi Digital Signage system for use in office as part of intern team project and engaged with IoT initiative within IBM which aimed to utilize IBM Bluemix, an IoT Cloud platform.</li>
      <li>Expanded product test suite using Selenium through Java.</li>
    </ul>
  </div>
</div>
<div class="segment education">
  <h1>Education</h1>
  <div class="block">
    <h2> NUI Galway, Galway  <span class="subtitle"> - B.Sc in Computer Science & Information Technology </span></h2>
    <ul>
      <li>1st Class Honours</li>
      <li>Obtained 1:1 average</li>
      <li> Notable Results:
        <ul class="inner-list">
          <li>Database Systems (1:1)</li>
          <li>Human Computer Interaction (2:1)</li>
          <li>Modern Information Management (1:1)</li>
          <li>Machine Learning & Data Mining (2:1)</li>
          <li>Systems Modeling & Simulation (1:1)</li>
          <li>Distributed Systems & Co-operative Computing(1:1)</li>
          <li>Computer Security & Forensic Computing (1:1)</li>
          <li>Cryptography (1:1)</li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="block">
    <h2> St Patricks College, Cavan <span class="subtitle"> - Leaving Certificate </span></h2>
    <ul>
      <li>Obtained 490 points </li>
      <li>Obtained B2 in Honours German</li>
    </ul>
  </div>
</div>
<div class="segment skills">
  <h1>Skills</h1>
  <ul>
    <li> Technical
      <ul class="inner-list">
        <li>Experienced in Java, Python.</li>
        <li>Intermediate in SQL, C#, C, HTML</li>
        <li>Basic knowledge of Lisp/Scheme, R, JavaScript, CSS & MatLab</li>
        <li>Familiar with Linux systems, particularly RedHat.</li>
        <li>Technical Tools: Eclipse, IntelliJ, PyCharm, Visual Studio, Git, Maven, Shippable. REST, Django, Windows, Linux,  J2EE, MySQL, SQLite, Access, ElasticSearch, BlueMix, SciKit Learn.</li>
      </ul>
    </li>
    <li> Communication
      <ul class="inner-list">
        <li>Proficient in German</li>
        <li>Received 1:1 in presentation on Viability of Smart Homes. </li>
        <li>Conveyed advanced concepts of Java programming to tutored classes.</li>
      </ul>
    </li>
    <li> Team work
      <ul class="inner-list">
        <li>Worked effectively on group projects in college achieving high marks in all.</li>
        <li>Worked with teams in England and Germany during time in IBM.</li>
        <li>Restarted tag-rugby team in IBM which I coached and captained over the course of my placement.</li>
      </ul>
    </li>
  </ul>
</div>
<div class="segment projects">
  <h1>Projects</h1>
  <div class="block">
    <h2>Emulation of RAID5 based storage mechanism across multiple cloud storage services</h2>
    <ul>
      <li>Designed and implemented a system which applied RAID level 5 over cloud storage providers. This project was implemented through Python and connected to multiple different cloud providers (Google, Box, Dropbox). The project aimed to provide data security through avoiding single point of failures and through obfuscating the data  by having the contents of a file distributed across multiple storage providers. </li>
    </ul>
  </div>
  <div class="block">
    <h2>Consortium</h2>
    <ul>
      <li>My team and I created platform for small groups to work on projects. Implemented through Python with the Django framework for the database backed backend, and HTML/CSS for the frontend. I particularly focused on the backend development of the application, specifically handling the inputted user data, processing the data and inputting it to the database through Django's ORM.</li>
    </ul>
  </div>
</div>
<div class="segment awards-and-volunteering">
  <div class="block">
    <h1>Awards</h1>
    <ul>
      <li>University Scholarship Award in my  final year for being in top 7% of my course.</li>
      <li>Chosen to take part in software workshop at Google</li>
      <li>Student of the Year Award - Leaving Cert Year</li>
      <li>Various Sporting Awards</li>
    </ul>
  </div>
  <div class="block">
    <h1>Volunteer Work</h1>
    <ul>
      <li>(April 2015) College Representative for the College of Engineering and Informatics</li>
      <li>(April 2015) Team Manager at TeenTech exhibition.</li>
      <li>(November 2014) Assistant at Galway Science and Technology Fair. </li>
    </ul>
  </div>
</div>
<div class="segment awards-and-volunteering">
  <div class="block">
    <h1>References</h1>
    <h2><span class="subtitle">Available upon request</span></h2>
  </div>
</div>
<button>Back to the top?</button>

