@import url("https://fonts.googleapis.com/css?family=Playfair+Display:bold|Playfair+Display");

/* Black = #0f0f0f */

body {
  width: 825px;
  margin: 56px auto;
  padding: 72px;
  font: 14px "Lato", Helvetica, Arial, sans-serif;
  background-color: #ffffff;
  box-shadow: 1px 1px 7px 3px rgba(0,0,0,0.2);
}

a {
  color: #26428b;
}

h1 {
  font-family: "Playfair Display";
  font-weight: 600;
  font-size: 24px;
}

h2{
  margin: 0;
  font-family: "Playfair Display";
  font-weight: 600;
  font-size: 18px;
}

h2 .subtitle {
  font-weight: 400;
}

ul {
  font-size: 14px;
  padding-left: 54px;
}

li {   
  list-style-type: none;
  position: relative;    
  margin-bottom: 8px;
}

li::before {
    content: '•';
    position: absolute;
    top: -7px;
    left: -18px;          /* Adjust this value so that it appears where you want. */
    font-size: 28px;      /* Adjust this value so that it appears what size you want. */
}

/* Header block includes name, contect info and intro*/
.header {
  margin-bottom: 48px;
}

.container{
  display: flex;
  flex-direction: row;
}

.date{
  margin-bottom: 2px;
  font-size: 12px;
  color: #666666;
}
  
.contact-details {
  flex: 1;
  max-width: 300px;
}

.contact-details > p {
  margin: 0;
  line-height: 18px;
}

.intro {
  flex: 2;
  max-width: 360px;
  margin: 0 auto 0 32px;
}

.intro > strong {
  font-family: "Playfair Display";
  font-weight: 600;
  color: #0f0f0f;
}

/*--------------------------------------------------------------*/

/* Experience - This section contains multiple blocks of content:
          - a date
          - a title and subtitle
          - a three bullet list with relevant info
*/

.experience {

}

.experience .block {
  margin-bottom: 36px;
}

/*--------------------------------------------------------------*/