@import url("https://fonts.googleapis.com/css?family=Playfair+Display:bold|Playfair+Display");

/* Black = #0f0f0f */

body {
  width: 825px;
  margin: 56px auto;
  padding: 72px;
  font: 14px "Lato", Helvetica, Arial, sans-serif;
  box-shadow: 1px 1px 7px 3px rgba(0,0,0,0.2);
}

a {
  color: #26428b;
}

h1 {
  font-family: "Playfair Display";
  font-weight: 600;
  font-size: 24px;
}

h2{
  margin: 0;
  font-family: "Playfair Display";
  font-weight: 600;
  font-size: 18px;
}

h2 .subtitle {
  font-weight: 400;
}

/* List styles */

ul {
  font-size: 14px;
  padding-left: 36px;
}

li {   
  list-style-type: none;
  position: relative;    
  margin-bottom: 12px;
}

li::before {
    content: '•';
    position: absolute;
    top: -7px;
    left: -18px;          
    font-size: 28px;      
}

button {
  font-family: "Playfair Display";
  font-size: 16px;
  padding: 12px;
}

/* Styling for sublists i.e. ul inside ul*/

.inner-list {
  list-style-type: square;
  padding-left: 18px;
}

.inner-list li:first-child {
  margin-top: 12px;
}

.inner-list li::before {
    content: '○';
    position: absolute;
    top: 5%;
    right: 5%;          
    font-size: 12px;      
}

/* Header block includes name, contect info and intro*/
.header {
  margin-bottom: 48px;
}

.container{
  display: flex;
  flex-direction: row;
}

.date{
  text-transform: uppercase;
  margin-bottom: 2px;
  font-size: 12px;
  color: #666666;
}
  
.contact-details {
  flex: 1;
  max-width: 300px;
}

.contact-details > p {
  margin: 0;
  line-height: 18px;
}

.intro {
  flex: 2;
  max-width: 360px;
  margin: 0 auto 0 32px;
}

.intro > strong {
  font-family: "Playfair Display";
  font-weight: 600;
  color: #0f0f0f;
}

/*--------------------------------------------------------------*/

/* Segment - This is a block of content encompasing a top level topic 
  e.g. eduction, skill.
*/

.segment {
  margin-bottom: 60px;
}

.experience .block {
  margin-bottom: 36px;
}

.awards-and-volunteering {
  display: flex;
  align-items: center;
}

.awards-and-volunteering .block {
  display: inline-block;
  flex: 1 0 auto;
}

.awards-and-volunteering ul {
  max-width: 350px;
}

/*--------------------------------------------------------------*/